---
#
# Ansible managed
#

name: Check Role Info

on:
  push:
    paths:
    - ".github/workflows/check_role.yml"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
    - name: Check Role Info
      run: ansible-galaxy role info buluma.aide
